{{!-- <div class="index-container d-inline-flex p-2 bd-highlight">
  <div class="sort-group">
    <select class="form-select" id="sort-select" name="sort">
      <option value="">All</option>
      {{>category}}
    </select>
  </div>

  {{! <script>
    const sortSelect = document.getElementById('sort-select');
    sortSelect.addEventListener('change', (event) => { const sortType =
    event.target.value; window.location.href = '/?sort=' + sortType; });
  </script> }}

  <!-- index.hbs -->
  <div>
    <span value="totalAmount">總金額：</span>
    <div class="card-area" style="width: 18rem;">

      <ul class="list-group list-group-flush">
        {{#each expenses}}

          <li class="list-group-item">
            <div class="row">
              <div class="col-auto me-auto">

                <div
                  class="col-2 d-flex justify-content-center align-items-center"
                >
                  {{category.icon}}
                </div>
                <div
                  class="col-2 d-flex justify-content-center align-items-center"
                >
                  {{this.name}}
                </div>
                <div
                  class="col-2 d-flex justify-content-center align-items-center"
                >
                  {{this.date}}
                </div>
                <div
                  class="col-2 d-flex justify-content-center align-items-center"
                >
                  ${{this.amount}}
                </div>

              </div>
              <div class="col-auto">
                <a
                  class="btn btn-success"
                  href="./expense/{{this._id}}/edit"
                >修改</a>
                <form
                  action="./expense/{{this._id}}?_method=DELETE"
                  method="POST"
                  style="display: inline;"
                >
                  <button class="btn btn-danger" type="submit">刪除</button>
                </form>
              </div>
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
    <a class="btn btn-primary mb-3" href="/expense/new">新增支出</a>
  </div>
</div> --}}
<h3>Index.hbs畫面渲染</h3>